@import "~styles/breakpoints";
@import "~styles/colors";

.MuiButtonBase-root {
  display: block !important;
}

@include minWidth(small-desktop) {
  .menuButton {
    display: none;
  }
}

.mobileLink {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  a {
    text-decoration: none;
    color: $red-primary;
  }
  :visited {
    color: $red-primary;
  }
  margin: 10px 0;
}
