@import "~styles/colors";
@import "~styles/breakpoints";

.calendarContainer {
  width: 80%;
  margin: 0 auto;
  margin-top: -50%;

  button {
    background-color: $red-primary !important;
    box-shadow: none !important;
    &:hover {
      opacity: 0.5 !important;
    }
  }

  @include minWidth(small-desktop) {
    margin-top: 50px;
  }
}
